#safety copies
**~

#"compiled" python
**.pyo
**.pyc

#Custom ignored files
**~.*
~**.*

#Ninja project file
*.nja

#Gitignore
.gitignore

#empty folders
screenshots/*
assets/sprites/player/*

#symlinks in testing folder
src/tests/settings.py
